@import '../../styles/_variables.scss';
@import '../../styles/_breakpoints.scss';

.formContainer {
  width: 105%;
  background-color: #F5F5F5;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;

  h2 {
    font-size: 32px;
    line-height: 40px;
    color: $dark;
  }

  .formGroup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    .inputGroup {
      background-color: $white-total;
      width: 100%;
      padding: 8px 8px 8px 32px;
      padding-right: 8px;
      border-radius: 5px;
      border: 1px solid $gray-medium;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;

      input {
        width: 100%;
        border: none;
        color: $dark;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25%;

        &:focus {
          border: none;
          outline: none;
        }
      }

      img {
        width: 18px;
        height: 18px;
      }
    }

    button {
      border-radius: 5px;
      border: 1px solid $primary;
      padding: 10px 24px;
      background-color: $primary;
      color: $white;
      font-size: 14px;
      font-weight: 500;
      line-height: 10px;
      cursor: pointer;
    }
  }
}