/* Color themes */

$primary: #6750A4;
$primary-container: #EADDFF;
$primary-container-on: #21005D;
$primary-click: #D0BCFF;

$secondary: #625B71;
$secondary-container: #E8DEF8;
$secondary-container-on: #1D192B;
$secondary-click: #CCC2DC;

$error: #B3261E;
$error-container: #F9DEDC;
$error-container-on: #410E0B;
$error-click: #EFB8C8;

$white-total: #FFFFFF;
$white: #F7F2FA;
$light-light: #F3EDF7;
$light-medium: #ECE6F0;
$light-strong: #E6E0E9;

$gray-light: #CAC4D0;
$gray-medium: #79747E;
$gray-strong: #49454F;
$dark: #1D1B20;
$dark-total: #000000;

$fuckin-nonsense-color: #FEF7FF;  

$orange: #FF9431;

/* Dimensions */

$padding-horizontal-mobile: 100px;
$padding-horizontal-tablet: 150px;
$padding-horizontal-desktop: 220px;

$padding-horizontal-sm: 250px;
$padding-horizontal-md: 280px;
$padding-horizontal-lg: 300px;