@import '../../styles/_variables.scss';
@import '../../styles/_breakpoints.scss';

.reviewsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  h2 {
    padding: 24px;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: $dark;
  }
}

.reviewsCardsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}